<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>

</head>
<body>

<div class="top_left">
    <a class="a_button" href="/dashboard">Dashboard</a>

</div>





    <div>
<ul  class="flashed_messages">
{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>


<div class="center_page">

    <div>
        <h5>Your current movie database</h5>
        <ul>
            {% for movie in movies %}
                <li>{{ movie.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <form class="form_add_user" action="/dashboard/{{ user.id }}/add_movie" method="POST">
    <label for="movie_chosen">Which movie would you like to add?</label>
    <input class="input_box" type="text" id="movie_chosen" name="movie_chosen" value="{{ movie_chosen }}" placeholder="movie name">
    <br>
    <label for="notes">Anything of note about this film?</label>
    <input class="input_box" type="text" id="notes" name="notes" value="{{ notes }}" placeholder="your thoughts">
    <br>
    <input class="submit_button" type="submit" value="Submit">
</form>
</div>

</body>
</html>