<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}} Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
</head>
<body>
<div class="top_left">
    <a class="a_button" href="/"  onclick="logout()">Logout</a>
    <a class="a_button" href="/accountSettings/{{ user.id }}">Settings</a>
</div>


<div class="page_intro">
    <h1>Welcome {{user.username}}</h1>
</div>
  <div>
<ul class="flashed_messages">
{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>


<div class="center">
    <a class="a_button" href="/dashboard/{{ user.id }}/add_movie">Add moives</a>
</div>

<div class="movie_list_box">
    <ul class="movie_list">
{% for movie in movies %}
        <div class="movie_container">
        {% if movie.poster %}
        <a href="https://www.imdb.com/title/{{movie.id}}"><img class="movie_poster" alt="movie_poster" title="{{movie.notes}}" src="{{movie.poster}}"></a>
        {% endif %}

        {% if movie.title %}
            <li>{{movie.title}}</li>
            <div class="movie_info_box">
                <div class="Rating">
                    <p>{{movie.imdb_rating}}</p>
                </div>
                <div class="update_delete_buttons">
                <a class="form_button" href="/dashboard/{{user.id}}/update_movie/{{movie.id}}"> Update</a>
                <a class="form_button" href="/dashboard/{{user.id}}/delete_movie/{{movie.id}}"> Delete</a>

            </div>
            </div>
        {% endif %}
      </div>
{% endfor %}
    </ul>
</div>
</body>
</html>