<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>

<div>
<a href="/">Logout</a>
    <a href="/dashboard">Dashboard</a>

</div>

<div>
<ul>
{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>

<div>
<form action="/delete/{{ id }}" method="POST">
  <label for="confirm_username">Enter username to delete user</label>
  <input type="text" id="confirm_username" name="confirm_username" value="{{ confirm_username }}" placeholder="{{ user.username }}">
    <input type="submit" value="Submit">

</form>
</div>
</body>
</html>