<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>

<div>
<a href="add_users">add_user</a>
</div>

<div>
<ul>
{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>


{% block content %}

{% if name %}
    <h1>Hello {{name}}</h1>
{% else %}
    <h1>Whats your name?</h1>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label}}
        {{ form.name() }}
        <br>
        {{ form.submit() }}</form>
{% endif %}
{% endblock %}
</body>

</html>